<br>
    <div class="container" >
      <div class="card">
          
          <!-- Modal Header -->
          <div class="card-header">
            <h4 class="modal-title">Edit Commande N°: {{commandeForm.controls['id'].value}} </h4>
          </div>
          
          <!-- Modal body -->
          <div class="card-body">
              <form [formGroup]="commandeForm" (ngSubmit)=(updateCommande()) >
                  <div class="form-group input">
                    <label>Produit:</label>
                    <input class="form-control " formControlName="produit">
                    
                    <label >Quantité:</label>
                    <input class="form-control" formControlName="quantite"><br>

                    <button class="btn btn-danger float-right" routerLink="/commandes">Cancel</button>
                    <button class="btn btn-success float-right" type="submit" [disabled]="!commandeForm.valid">Save changes</button>

                  </div>
              </form>
          </div>
          
        </div>
      </div>

